wandb/
experiments/
.vscode
*.pyc
latest-run/
uda_cmmd-cosmix_gaussian.sh
uda_cmmd-cosmix_gaussian.sh
uda_cmmd-cosmix_gaussian.sh
uda_cmmd-cosmix_linear.sh
uda_cosmix.sh
uda_st.sh
configs/adaptation/nuscenes2semantickitti_cosmix.yaml
configs/adaptation/nuscenes2semanticposs/nuscenes2semanticposs_cmmdcosmix_gaussian.yaml
configs/adaptation/nuscenes2semanticposs/nuscenes2semanticposs_cmmdcosmix_linear.yaml
configs/adaptation/nuscenes2semanticposs/nuscenes2semanticposs_cosmix.yaml
configs/adaptation/nuscenes2semanticposs/nuscenes2semanticposs_gaussian.yaml
configs/adaptation/nuscenes2semanticposs/nuscenes2semanticposs_linear.yaml
configs/adaptation/nuscenes2semanticposs/nuscenes2semanticposs_st.yaml
uda_cmmd-cosmix_gaussian.sh
uda_cmmd-cosmix_linear.sh
uda_cosmix.sh
uda_st.sh
uda_cmmd-cosmix_gaussian.sh
uda_cmmd-cosmix_linear.sh
uda_cosmix.sh
uda_cmmd-cosmix_gaussian.sh
